
<p [style.text-align]="'center'">
 <b> HTTP (GET Request) Component</b>
</p>

<hr [style.border]="'1.3px dotted black'">


<div style=" margin-top: 60px;  width: 50%; margin-left: 30%; ">

      <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Json Place Holder
      </mat-panel-title>
      <mat-panel-description>
       (Get Request)

      </mat-panel-description>
    </mat-expansion-panel-header>
			<div *ngFor="let htvar of posts; index as i" >
			       <p>{{htvar.id}}<span style="margin-left: 30px;"></span> {{htvar.title}}</p>

			</div>       
  </mat-expansion-panel>
  
<hr [style.border]="'1.3px dotted black'">
</div>

<hr [style.border]="'1.3px dotted black'">